In [1]:
import numpy as np
import pandas as pd

In [2]:
#Loading the data
labels = pd.read_csv("nist_dataset/final_class_labels.csv",header=None)
labels.columns = ['ID','class']
labels

       ID  class
0       1      0
1       2      1
2       4      2
3       5      0
4       6      1
..    ...    ...
956  1723      5
957  1726      3
958  1730      1
959  1731      0
960  1732      0

[961 rows x 2 columns]

In [3]:
#Multiplied by 6 because each image generated 6 images that are input into the CNN
label_encoding = np.zeros((6*len(labels),len(labels['class'].value_counts())))

for i in range(len(labels)):
    label_encoding[i*6:(i+1)*6,labels['class'].iloc[i]] = int(1)
label_encoding.shape

(5766, 7)

In [7]:
np.savetxt("nist_dataset/label_encoding.csv",label_encoding, fmt='%d')