In [1]:
import numpy as np
import pandas as pd

In [4]:
#Loading the data
labels = pd.read_csv("C_NN_OpenACC/nist_dataset/final_class_labels.csv")
labels.columns = ['ID','class']
labels.head()

   ID  class
0   2      1
1   4      2
2   5      0
3   6      1
4   7      3

In [46]:
#Multiplied by 6 because each image generated 6 images that are input into the CNN
label_encoding = np.zeros((6*len(labels),len(labels['class'].value_counts())))

for i in range(len(labels)):
    label_encoding[i*6:(i+1)*6,labels['class'].iloc[i]] = int(1)

In [47]:
pd.DataFrame(label_encoding).to_csv("C_NN_OpenACC/nist_dataset/label_encoding.csv",index=False, header=False)